*.suo
.svn/
.vs/
*.pdb
*.cache
*.txt
itcast.CRM15.IRepository/bin/
itcast.CRM15.IServices/obj/
itcast.CRM15.Model/bin/
itcast.CRM15.Common/bin/
itcast.CRM15.Common/obj/
itcast.CRM15.EntityMapping/bin/
itcast.CRM15.EntityMapping/obj/
itcast.CRM15.IRepository/obj/
itcast.CRM15.IServices/bin/
itcast.CRM15.Model/obj/
itcast.CRM15.Repository/bin/
itcast.CRM15.Repository/obj/
itcast.CRM15.Services/bin/
itcast.CRM15.Services/obj/
itcast.CRM15.WebHelper/obj/
itcast.CRM15.Site/obj/
